h1{
  color: black;
}

header{
  background-color: rgb(52, 52, 178);
}

header h1{
  color: white;
  padding-top: 50px;
  margin-left: 60px;
  margin-right: 60px;
}

header ul li{
    display: flex;
    gap: 20px;
    color: white;
    margin-left: 30px
}
#Tabla {
  width: 80%;       
  margin: 0 auto;  
}


#cajaInputs{
  margin: 0 auto;
}

body{
  background-color: white;
}
